.grid {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    background-color: rgba(174, 246, 248, 0.603);
}

.quiz-pane {
    float: center;
    background-color: cornflowerblue;
}

img.resizer {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    background-color: greenyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

choices {
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
}